
{% extends "base.html" %}

{% block title %}Aeronis - Ethereal Realms{% endblock %}

{% block content %}
<div class="text-center">
    <h2>Aeronis</h2>
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="{{ url_for('static', filename='images/Aeronis.jpg') }}" class="img-fluid rounded" alt="Aeronis">
            </div>
            <div class="col">
                <p>Aeronis is a Skyborn Wizard, a reclusive order of scholars who dwell in the floating city of Aetheris. Known for his mastery of ancient lore and elemental magic, Aeronis joins the group to decipher the prophecy of the Dawnbringers and unlock the true power of the artifacts.</p>
                <p>Though aloof and sometimes cryptic, Aeronis’s deep knowledge proves invaluable. He uncovers the location of the Pillar of Eternity and helps shield the heroes from magical threats.</p>
                <p>Aeronis’s commitment to preserving the balance of Etheral and his ability to unlock the secrets of the past make him a vital member of the group.</p>
                <div class="card text-black bg-light">
                    <div class="card-header text-center">Contact Aeronis</div>
                    <div class="card-body">
                        <p class="card-text"><strong>Email:</strong> aeronis@ethreal.com</p>
                        <p class="card-text"><strong>Phone:</strong> +99-123-4567 ext. 777</p>
                        <p class="card-text"><strong>Address:</strong> The Tower of Winds <br>RM 587, <br>Floating City of Aetheris, <br>Etheral Realms</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

