{% extends "base.html" %}

{% block title %}Durnik - Ethereal Realms{% endblock %}

{% block content %}
<div class="text-center">
    <h2>Durnik</h2>
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="{{ url_for('static', filename='images/Durnik.jpg') }}" class="img-fluid rounded" alt="Durnik">
            </div>
            <div class="col">
                <p>Durnik, a steadfast warrior from the Ironstone Dwarves, is known for his strength, loyalty, and gruff sense of humor. Tasked with protecting the Celestial Shard alongside Thalnor, he serves as the group’s protector, facing physical challenges head-on.</p>
                <p>Despite his hardened exterior, Durnik values camaraderie and sees the group as his family. His skill with crafting and his unyielding resolve prove critical in fortifying their defenses against the Shadowborn.</p>
                <p>His bravery and unwavering commitment to his allies make Durnik a cornerstone of the group’s success.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

