{% extends "base.html" %}

{% block title %}Kaelen - Ethreal Realms{% endblock %}

{% block content %}
<div class="text-center">
    <h2>Kaelen</h2>
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="{{ url_for('static', filename='images/Kaelen.jpg') }}" class="img-fluid rounded" alt="Kaelen">
            </div>
            <div class="col">
                <p>Kaelen is a wandering ranger from the forested realm of Greenveil, known for his unmatched precision with a bow. A lone wolf by nature, Kaelen reluctantly joins the group after witnessing the Shadowborn’s devastation of his homeland.</p>
                <p>Over time, Kaelen grows to trust the group and becomes their scout and tracker, uncovering hidden paths and defending them from ambushes. His silent bravery and quick thinking save the heroes on multiple occasions.</p>
                <p>Kaelen’s journey from solitude to camaraderie reflects the power of unity in overcoming darkness.</p>
                <div class="card text-black bg-light">
                    <div class="card-header text-center">Contact Kaelen</div>
                    <div class="card-body">
                        <p class="card-text"><strong>Email:</strong> kaelen@ethreal.com</p>
                        <p class="card-text"><strong>Phone:</strong> +99-123-4567 ext. 780</p>
                        <p class="card-text"><strong>Address:</strong> The Tower of Winds <br>RM 318, <br>Floating City of Aetheris, <br>Etheral Realms</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}