{% extends "base.html" %}

{% block title %}Lioran - Ethreal Realms{% endblock %}

{% block content %}
<div class="text-center">
    <h2>Lioran</h2>
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="{{ url_for('static', filename='images/Lioran.jpg') }}" class="img-fluid rounded" alt="Lioran">
            </div>
            <div class="col">
                <p>Lioran, a humble villager from the peaceful meadows of Evergrove, is renowned as the "Bearer of Light." Born into an unassuming farming family, Lioran discovered a mysterious artifact, the Emberstone, hidden within the roots of an ancient oak tree. Little did he know, this relic would set him on a path to save the Etheral Realms.</p>
                <p>The Emberstone, an artifact of immense power, chose Lioran for his unwavering spirit and pure intentions. Despite his lack of combat training, Lioran embarked on a perilous journey to return the Emberstone to the Pillar of Eternity, a sacred site said to restore balance to the world.</p>
                <p>Lioran’s courage and humility inspired those he met along the way, uniting people of all walks of life and proving that even the most unlikely hero can rise to greatness.</p>
                <div class="card text-black bg-light">
                    <div class="card-header text-center">Contact Lioran</div>
                    <div class="card-body">
                        <p class="card-text"><strong>Email:</strong> lioran@ethreal.com</p>
                        <p class="card-text"><strong>Phone:</strong> +99-123-4567 ext. 810</p>
                        <p class="card-text"><strong>Address:</strong> The Tower of Winds <br>RM 452, <br>Floating City of Aetheris, <br>Etheral Realms</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
