{% extends "base.html" %}

{% block title %}Thalnor - Ethereal Realms{% endblock %}

{% block content %}
<div class="text-center">
    <h2>Thalnor</h2>
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="{{ url_for('static', filename='images/Thalnor.jpg') }}" class="img-fluid rounded" alt="Thalnor">
            </div>
            <div class="col">
                <p>Thalnor, the "Warden of the Eternal Flame," is a seasoned warrior and diplomat. Born in the mountain citadel of Ironpeak, Thalnor was raised among the Ironstone Dwarves after his parents perished defending the northern borders. Honing his skills in battle and diplomacy, he became a unifier of fractured realms.</p>
                <p>Thalnor’s mission is to rally the kingdoms of Etheral to form the Alliance of Dawn, a coalition strong enough to stand against the Shadowborn. As a mentor to Lioran and protector of the Celestial Shard, Thalnor plays a critical role in guiding the heroes and defending the Pillar of Eternity.</p>
                <p>Thalnor’s leadership, wisdom, and unyielding resolve make him a beacon of hope in the darkest times, inspiring allies and uniting people from all walks of life.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

